<html>

<head>


<style>table, th, td {border: 1px solid #888;border-collapse: collapse; padding: 10px;}th{background-color: #dcdcdc;font-weight: bold;}


</style>
 
 
 
 </head>
 
 
  <body>
  
  <p> Hi,</p>
  
  <p>This is a automated generated mail</p><p>PFB Report NFLB2B:-</p><table width='400'>
  
    <th colspan='2'>NFL B2B Regression Report</th>
	
    <tr><td> Total No. of test scripts </td><td>"+summary.total+"</td></tr>
	
    <tr><td><font color='0E8B23'> Pass </font></td>
	
    <td><font color='0E8B23'>"+summary.passed+"</td></tr>
	
     <tr><td><font color='FC0404'> Fail </td>
	 
     <td><font color='FC0404'>"+summary.failed+"</td></tr>
   
   
     </table>
	 
	 <p>Please review the test results and reach out in case of any questions.</p></body>
   
   
   
</html>